@{
    ViewBag.Title = "Dashboard";
}

@section UserMenus
{
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Smart CRM", "Dashboard", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Customers", "List", "Customer")</li>
                <li>@Html.ActionLink("Users", "List", "User")</li>
                <li><a href="/smartcrm/myprofile">My Profile</a></li>
                <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
            </ul>
        </div>
    </div>
</div>
}

<div class="jumbotron">
    <h1>Customer Management</h1>
    <p class="lead">Customer Management - this is a customized and user-friendly. It provide us to manage customers in a proper way.</p>
</div>

<div class="row">
    <div class="col-md-10 col-sm-offset-3">
        <div class="col-md-4">
            <h2>Customers</h2>
            <p>
                To View Customers and update customer information, click below link.
            </p>
            <p><a class="btn btn-default" href="/customer/list">Customers</a></p>
        </div>
        <div class="col-md-4">
            <h2>Users</h2>
            <p>To View users and update user information, click below link.</p>
            <p><a class="btn btn-default" href="/user/list">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
